<div class="titulo_about mb-4">
  <h2 class="text-center">
    <span class="gray-color">CON</span>
    <span class="green-color">TÁCTAME</span>
  </h2>
  <app-barra-loading></app-barra-loading>
  <div class="mt-3 container-fluid">
    <div class="row m-1 gap-3 d-flex justify-content-center">
      <!-- Primera Columna -->
      <div class="col-12 col-md-5">
        <div class="card">
          <div class="card-body d-flex">
            <div class="icon-div d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-location-dot green-color"></i>
            </div>
            <div class="ms-2">
              <h4 class="gray-color">RESIDENCIA</h4>
              <div class="d-flex flex-column flex-lg-row">
                <p class="mb-1">Copacabana, Antioquia</p>
                <p class="green-color ms-lg-2">Colombia</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Segunda Columna -->
      <div class="col-12 col-md-5">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="icon-div d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-envelope green-color"></i>
              </div>
              <h4 class="ms-2 gray-color">MI CORREO</h4>
            </div>
            <p class="mb-1 mt-1">jsanti.restrepo.2021@gmail.com</p>
          </div>
        </div>
      </div>

      <!-- Tercera Columna -->
      <div class="col-12 col-md-5">
        <div class="card">
          <div class="card-body d-flex">
            <div class="icon-div d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-phone green-color"></i>
            </div>
            <div class="ms-2">
              <h4 class="gray-color">CELULAR</h4>
              <p class="mb-1">(+57) 3186066227</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <p class="mt-3 m-1">Feel free to get in touch with me. I am always open to discussing new projects,
      creative ideas or opportunities to be part of your visions.
    </p>
  </div>
</div>
