<div class="titulo_about mb-4">
  <h2 class="text-center">
    <span class="gray-color">SOBRE </span>
    <span class="green-color">MI</span>
  </h2>
  <app-barra-loading></app-barra-loading>
</div>
<div class="container d-flex flex-column flex-lg-row justify-content-evenly">
  <div class="div_informacion_yo me-lg-3">
    <h3>HOLA! SOY <span class="green-color">SANTIAGO</span></h3>
    <p>Soy un desarrollador full-stack con +1 año de experiencia,
      comencé siendo graduado como químico industrial,
      sin embargo por mi interes y curiosidad en las páginas web,
      decidí estudiar desarrollo web.</p>
    <button type="button" class="btn btn-green">
      <i class="fa-solid fa-download"></i> DESCARGAR MI CV
    </button>
  </div>
  <div class="mt-3 d-flex flex-column flex-md-row">
    <div class="informacion">
      <p><span class="gray-color">Nombre: </span>Santiago</p>
      <p><span class="gray-color">Dirección: </span>Antioquia, Colombia</p>
      <p><span class="gray-color">Fecha de cumpleaños: </span>10 junio 2000</p>
      <p><span class="gray-color">Experiencia: </span>1+ año</p>
      <p><span class="gray-color">Estado: </span>Buscando retos</p>
    </div>
    <div class="informacion ms-md-5">
      <p><span class="gray-color">Telefono: </span>+57 3186066227</p>
      <p><span class="gray-color">Correo: </span>jsanti.restrepo.2021@gmail.com</p>
      <p><span class="gray-color">Idioma: </span>Español</p>
    </div>
  </div>
</div>
