<nav class="navbar navbar-expand-lg fixed-top custom-navbar" [ngClass]="{'scrolled': navbarScrolled}">
  <div class="container">
      <a class="navbar-brand text-white fs-3 fw-bold ms-3" href="#">JSAR</a>
      <button class="d-lg-none" type="button">
          <app-icono-nav></app-icono-nav>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end d-none d-lg-block fs-6" id="navbarNav">
          <ul class="navbar-nav ml-auto gap-5 me-5">
              <li class="nav-item">
                  <a class="nav-link text-white" href="#home">
                    <i class="fa-solid fa-flask"></i> Home
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#about">
                    <i class="fa-solid fa-vial"></i> About
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#projects">
                    <i class="fa-solid fa-atom"></i> Projects
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#stats">
                    <i class="fa-solid fa-flask-vial"></i> Stats
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#contact">
                    <i class="fa-solid fa-vial-circle-check"></i> Contact
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>
