h4{
  display: flex;
  align-items: center;
}

.gray-color{
  color: gray;
}

.badge{
  font-size: 14px;
  margin-left: 5px;
  width: 60px;
  background-color: rgb(62, 211, 62) !important;
}

.description, .tech_divs{
  min-width: 240px;
  max-width: 400px;
}

h5{
  font-weight: bold;
}
