<div style="padding: 10px;">
  <mat-dialog-content>
    <div *ngIf="data === 'kosmetikon'">
      <h4 class="gray-color mb-4">Desarrollador Full Stack
        <span class="badge text-bg-success d-none d-lg-block">Actual</span>
      </h4>
      <p class="gray-color description">
        - Concepción y ejecución de nuevas propuestas para 6 proyectos, aplicando códigos eficientes utilizando los frameworks de Angular en el frontend y Node en el backend. Aumento significativo en la calidad y funcionalidad de las aplicaciones, generando una mejora del 30% en la satisfacción del usuario.<br>
        <br>
        - Realicé la implementación completa de un proyecto utilizando NestJS, garantizando una arquitectura robusta y un rendimiento óptimo.<br>
        <br>
        - Realicé la documentación exhaustiva del código backend mediante Swagger, asegurando la comprensión y mantenimiento eficiente de los sistemas. Facilitando una transición sin problemas entre equipos, reduciendo el tiempo dedicado a la resolución de problemas en un 20%.<br>
        <br>
        - Implementé y gestioné bases de datos en todos los proyectos, utilizando tecnologías como SQL Server, MySQL y PostgreSQL, además de incorporar la ORM Prisma en un proyecto específico. Mejora del rendimiento del 25% en las consultas de la base de datos, optimizando la eficiencia y la velocidad de respuesta del sistema.<br>
      </p>
      <div class="d-flex flex-row align-items-center justify-content-center flex-wrap tech_divs">
        <h5 class="mb-0">Tech Skills:</h5>
        <p class="mb-0 ms-1 gray-color">TypeScript, Angular, RxJS, Express, NestJS, SQL, PostgreSQL, ServerSQL, Thunder, Git</p>
      </div>
    </div>

    <div *ngIf="data === 'mindhub'">
      <h4 class="gray-color mb-4">Desarrollador Full Stack</h4>
      <p class="gray-color description">Como desarrollador autodidacta desde mis comienzos siempre estuve aplicando lo que aprendia en el bootcamp de MINDHUB haciendo proyectos que destacaran los conocimientos adquiridos, estudiando las mejores prácticas, entendiendo cómo funciona la programación y la mejor forma de emplear su uso.
      <br>
      <br>
      Logré crear distintos proyectos y aprender sobre distintas tecnologías y frameworks.<br>
      <br>
      Logré buenos hábitos y prácticas de código aplicables a cualquier trabajo como desarrollador.</p>
      <div class="d-flex flex-row align-items-center justify-content-center flex-wrap tech_divs">
        <h5 class="mb-0">Tech Skills:</h5>
        <p class="mb-0 ms-1 gray-color">JavaScript, Vue, Java, Spring, Hibernate, PostgreSQL, Postman, Git, Scrum</p>
      </div>
    </div>

    <div *ngIf="data === 'platzi'">
      <h4 class="gray-color mb-4">Frontend con ANGULAR</h4>
      <p class="gray-color ">Lista de 14 cursos sobre Angular, desde el desarrollo hasta testing</p>
      <div class="d-flex flex-row align-items-center justify-content-center flex-wrap tech_divs">
        <h5 class="mb-0">Tech Skills:</h5>
        <p class="mb-0 ms-1 gray-color">TypeScript, Angular, RxJS, Angular material, Tailwind, Angular CDK</p>
      </div>
    </div>

    <div *ngIf="data === 'personal'">
      <h4 class="gray-color mb-4">Desarrollador WEB</h4>
      <p class="gray-color description">Aprendizaje didáctico y personal, realizando proyectos propios,
          para poder conocer las bases de la programación.</p>
      <div class="d-flex flex-row align-items-center justify-content-center flex-wrap tech_divs">
        <h5 class="mb-0">Tech Skills:</h5>
        <p class="mb-0 ms-1 gray-color">JavaScript, Vue, Java, Spring, Git</p>
      </div>
    </div>
  </mat-dialog-content>
</div>
