.imagen_fondo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.638), rgba(0, 0, 0, 0.632)),
                    url('/assets/imagen_fondo.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.div_myPhoto{
  height: calc(100vh - 70px);
  padding-top: 70px;
}

.myPhoto{
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 10px solid rgba(128, 128, 128, 0.422);
}

.myPhoto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contenido{
  width: 40vw;
  height: 20vw;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-shadow{
  text-shadow: 1px 1px 1px black;
}

i{
  cursor: pointer;
}

.buttons button{
  width: 200px;
  border-radius: 35px;
}

.btn-green{
  color: white;
  background-color: rgb(62, 211, 62);
}

.btn-green:hover{
  background-color: rgb(34, 157, 34);
}

@media (max-width: 500px) {
  .myPhoto{
    width: 50vw;
    height: 50vw;
  }

  .contenido{
    margin-left: 0;
    width: 90%;
    height: 70%;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .div_myPhoto{
    height: 100vh;
    flex-direction: column;
  }

  .buttons{
    flex-direction: column;
  }

  .texto-descripcion{
    text-align: center;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .myPhoto{
    width: 32vw;
    height: 32vw;
  }

  .contenido{
    margin-left: 0;
    width: 90%;
    height: 60%;
    align-items: center;
  }
}
