<div class="imagen_fondo">
  <app-navbar></app-navbar>

  <div id="home" class="div_myPhoto d-flex flex-direction-row align-items-center justify-content-center">
    <div class="myPhoto">
      <img src="../assets/FOTO.jpeg" alt="">
    </div>
    <div class="contenido">
      <h6 class="text-white text-shadow fs-6">HOLA A TODOS !</h6>
      <h1 class="text-white text-shadow">YO SOY SANTIAGO</h1>
      <p class="text-white text-shadow texto-descripcion">
        Full Stack Developer | TypeScript | Angular | Vue | Java | Spring | Siempre aprendiendo | Abierto a nuevos desafios.</p>
      <div class="text-white d-flex flex-direction-row gap-3 mt-2">
        <a href="https://instagram.com/santi_aristi__?igshid=YzAwZjE1ZTI0Zg==" target="_blank">
          <i class="fa-brands fa-instagram fs-4 text-shadow"></i>
        </a>
        <a href="https://github.com/JsantiAristi" target="_blank">
          <i class="fa-brands fa-github fs-4 text-shadow"></i>
        </a>
        <a href="https://www.linkedin.com/in/santiago-aristizabal-a17015221/" target="_blank">
          <i class="fa-brands fa-linkedin-in fs-4 text-shadow"></i>
        </a>
      </div>
      <div class="buttons d-flex gap-3 mt-4">
        <button type="button" class="btn btn-secondary">
          <a style="text-decoration: none;" class="text-white" href="#about">MAS SOBRE MÍ</a></button>
        <button type="button" class="btn btn-green">
          <a href="#projects" style="text-decoration: none;" class="text-white">
            <i class="fa-solid fa-rocket"></i> MI PORTAFOLIO
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="about">
  <app-about-me></app-about-me>
  <app-experience></app-experience>
  <app-skills></app-skills>
</div>
<div id="projects">
  <app-proyectos></app-proyectos>
</div>
<div id="stats">
  <app-stats></app-stats>
</div>
<div id="contact" class="mt-5">
  <app-contact></app-contact>
</div>
<div class="bg-dark p-2">
  <h5 class="text-white text-center mb-0">2023 - Desarrollado por JSAR</h5>
</div>
