<div class="imagen_fondo">
  <app-navbar></app-navbar>

  <div id="home" class="div_myPhoto d-flex flex-direction-row align-items-center justify-content-center">
    <div class="myPhoto">
      <img src="../assets/FOTO.jpeg" alt="">
    </div>
    <div class="contenido">
      <h6 class="text-white text-shadow">HOLA A TODOS !</h6>
      <h1 class="text-white text-shadow">YO SOY SANTIAGO</h1>
      <p class="text-white text-shadow texto-descripcion">Soy un desarrollador full-stack con +1 año de experiencia,
        comencé siendo graduado como químico industrial,
        sin embargo por mi interes y curiosidad en las páginas web,
        decidí estudiar desarrollo web.</p>
      <div class="text-white d-flex flex-direction-row gap-3 mt-2">
        <i class="fa-brands fa-instagram fs-4 text-shadow"></i>
        <i class="fa-brands fa-github fs-4 text-shadow"></i>
        <i class="fa-brands fa-linkedin-in fs-4 text-shadow"></i>
      </div>
      <div class="buttons d-flex gap-3 mt-4">
        <button type="button" class="btn btn-secondary">MAS SOBRE MÍ</button>
        <button type="button" class="btn btn-green">
          <i class="fa-solid fa-rocket"></i> MI PORTAFOLIO
        </button>
      </div>
    </div>
  </div>
</div>
<div id="about" class="mt-5">
  <app-about-me></app-about-me>
</div>
