/* You can add global styles to this file, and also import other style files */

bg-green-light{
  color: white;
  background-color: rgb(62, 211, 62);
}

/* Personaliza la barra de desplazamiento para todo el documento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  height: 10px; /* Altura para la barra de desplazamiento horizontal */
}

/* Personaliza la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #000000; /* Color de fondo de la pista */
}

/* Personaliza el thumb (parte móvil) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); /* Color del thumb */
}

/* Cambia el estilo del thumb al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb al hacer hover */
}
