<div class="container mt-4 d-lg-flex gap-4">
  <div>
    <h2 class="text-center gray-color">EXPERIENCIA</h2>
    <div class="mt-4">
      <div class="card">
        <div class="card-body m-1">
          <h4 class="gray-color mb-4">Desarrollador Full Stack
            <span class="badge text-bg-success d-none d-lg-block">Actual</span>
          </h4>
          <div class="d-flex flex-column flex-md-row gap-md-3">
            <p class="gray-color"><i class="fa-solid fa-location-dot"></i> Kosmetikon
              <span class="badge text-bg-success d-block d-lg-none">Actual</span>
            </p>
            <p class="gray-color"><i class="fa-solid fa-globe"></i> Remoto</p>
            <p class="gray-color"><i class="fa-regular fa-calendar-days"></i> Junio 2023 - Actualmente</p>
          </div>
          <p class="gray-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo repudiandae. the majority have suffered alteration in some form.</p>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body m-1">
          <h4 class="gray-color mb-4">Desarrollador Full Stack</h4>
          <div class="d-flex flex-column flex-md-row gap-md-3">
            <p class="gray-color"><i class="fa-solid fa-location-dot"></i> MindHub</p>
            <p class="gray-color"><i class="fa-solid fa-globe"></i> Remoto</p>
            <p class="gray-color"><i class="fa-regular fa-calendar-days"></i> Febrero 2023 - Junio 2023</p>
          </div>
          <p class="gray-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo repudiandae. the majority have suffered alteration in some form.</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-center gray-color mt-4 mt-lg-0">EDUCACIÓN</h2>
    <div class="mt-4">
      <div class="card">
        <div class="card-body m-1">
          <h4 class="gray-color mb-4">Frontend con ANGULAR</h4>
          <div class="d-flex flex-column flex-md-row gap-md-3">
            <p class="gray-color"><i class="fa-solid fa-location-dot"></i> PLATZI</p>
            <p class="gray-color"><i class="fa-solid fa-globe"></i> Remoto</p>
            <p class="gray-color"><i class="fa-regular fa-calendar-days"></i> Octubre 2023</p>
          </div>
          <p class="gray-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo repudiandae. the majority have suffered alteration in some form.</p>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body m-1">
          <h4 class="gray-color mb-4">Desarrollador WEB</h4>
          <div class="d-flex flex-column flex-md-row gap-md-3">
            <p class="gray-color"><i class="fa-solid fa-location-dot"></i> Proyecto Personal</p>
            <p class="gray-color"><i class="fa-solid fa-globe"></i> Remoto</p>
            <p class="gray-color"><i class="fa-regular fa-calendar-days"></i> Enero 2022</p>
          </div>
          <p class="gray-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo repudiandae. the majority have suffered alteration in some form.</p>
        </div>
      </div>
    </div>
  </div>
</div>
